!!!
%html
  %head
    %title {{page.title}}
    %link{href: "{{ site.baseurl }}assets/css/style.css", rel: "stylesheet"}/
    %link{href: "{{ site.baseurl }}assets/css/main.css", rel: "stylesheet"}/
    %meta{:content => "Andrew Baraff, Attorney at Law, serves small, middle-market and growing businesses and investors in the fields of real estate, commercial transactions, general corporate matters and special situations.", :name => "description"}/
    %meta{:content => "lawyer, law, real estate", :name => "keywords"}/
    %meta{:content => "text; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "BlPLQOHEK4IuqVpJDIBbnBxZHv7VZuCHe32YPVogA5Y", :name => "google-site-verification"}/
    /[if lt IE 7]
      %script{src:"http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"}
    /[if lt IE 8]
      %script{src:"http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"}
    /[if lt IE 9]
      %script{src:"http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"}

  %body
    #wrapper
      %header
        %img{src:"{{site.baseurl}}assets/images/logo.svg"}
      #container
        %nav
          %ul
            %li{id: "{% if {{page.title}} == 'Home' %}active{% endif %}"}
              %a{:href => "{{site.baseurl}}"} Home
            %li
              %label{for: 'toggle'} Representative Matters
              %input#toggle{type: 'checkbox', style:"display:none"}
              %ul
                %li{id: "{% if {{page.title}} == 'Acquisitions and Sales' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/acquisitions-and-sales"} Acquisitions and Sales
                %li{id: "{% if {{page.title}} == 'Financings' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/financings"} Financings
                %li{id: "{% if {{page.title}} == 'Joint Ventures' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/joint-ventures"} Joint Ventures
                %li{id: "{% if {{page.title}} == 'Leases' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/leases"} Leases
                %li{id: "{% if {{page.title}} == 'Outside General Counsel' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/outside-general-counsel"} Outside General Counsel
                %li{id: "{% if {{page.title}} == 'Litigation' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/litigation"} Litigation
                %li{id: "{% if {{page.title}} == 'Restructurings' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/restructurings"} Restructurings
                %li{id: "{% if {{page.title}} == 'Construction and Design Agreements' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/construction-and-design-agreements"} Construction and Design Agreements
                %li{id: "{% if {{page.title}} == 'Businesses and Trusts' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/family-businesses-and-trusts"} Family Businesses and Trusts
                %li{id: "{% if {{page.title}} == 'Special Situations' %}active{% endif %}"}
                  %a{:href => "{{site.baseurl}}representative-matters/special-situations"} Special Situations
            %li{id: "{% if {{page.title}} == 'Recommendations' %}active{% endif %}"}
              %a{:href => "{{site.baseurl}}recommendations"} Recommendations
            %li{id: "{% if {{page.title}} == 'Contact' %}active{% endif %}"}
              %a{:href => "{{site.baseurl}}contact"} Contact
          {% if {{page.title}} == 'Home' %}
          #diploma
            Rated “AV® Preeminent™” (highest level of professional ability and ethical standards) by Martindale-Hubbell’s® Peer Review™.
            %br/
            %br/
            Named one of the “New York Area’s Top Rated Lawyers of 2013” by Legal Leaders.
          {% endif %}
          :javascript
            if ( {{page.expand}} ) {
                document.getElementById('toggle').checked = true
            }
          :css
            nav ul li ul {
               -webkit-transition: max-height 0.4s ease 0.2s;
               -moz-transition: max-height 0.4s ease 0.2s;
                 -o-transition: max-height 0.4s ease 0.2s;
                    transition: max-height 0.4s ease 0.2s;
              }
        %article#content
          {{ content }}
    %footer
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38454529-1']);
        _gaq.push(['_setDomainName', 'barafflaw.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      © 2014 Andrew Baraff, Attorney at Law P.C.  All Rights Reserved. |
      %a{:href => "{{site.baseurl}}disclaimer"} Disclaimer
      |
      %a{:href => "{{site.baseurl}}attorney-advertising"} Attorney Advertising
      |
      %a{:href => "{{site.baseurl}}limited-liability"} Limited Liability
      |
      %a{:href => "{{site.baseurl}}website"} Website