:plain
  ---
  layout: default
  title: Disclaimer
  ---


%section
  %h2 Disclaimer
  %p The materials, statements,&nbsp;descriptions&nbsp;of&nbsp;transactions&nbsp;and all other content on this website is provided for informational purposes only.&nbsp; Nothing on this website is intended to be, and nothing on this website constitutes, contains or purports to offer, legal advice.&nbsp; Therefore, you may not rely on anything on this website as legal advice.
  %p Any prior results described on this website do not guarantee a similar result in the future.&nbsp;
  %p Although we would be pleased to speak with you to see if we can assist you, we must advise you that no attorney-client relationship exists because you viewed this website, or spoke to us, or otherwise communicated with us in any manner, about the possibility of retaining us as your attorney, or any other matter. &nbsp;An attorney-client relationship will be created if, and only if, you and we mutually and expressly agree that you want to engage us as your attorney and that we are willing to represent you as your attorney, and, if required by law, such agreement has been documented in writing.&nbsp; Unless and until an attorney-client relationship exists, you should not disclose any confidential or sensitive information to us, because such information will not protected by attorney-client or other privilege and may be disclosed or be required to be disclosed by law.
  %p We are licensed to practice law only in the State of New York, and we do not purport to practice in any other jurisdiction.
  %p The website is not intended to be viewed or used in any jurisdiction in which it does not fully comply with all applicable laws of such jurisdiction.
  %p This website, and all material on and content of this website, whether written or photographic, or its layout or design, or otherwise, is copyrighted, and may not be used without the express written consent of the owner.
  %p No representations or warranties, express or implied, are made as to the operation of this website, any use of this website, any information provided on this website, the effects or consequences of any use of this website or any material on or content of this website, or otherwise.