:plain
  ---
  layout: default
  title: Outside General Counsel
  expand: true
  ---

%section
  %h1 Outside General Counsel
  %p
    U.S. counsel to two foreign companies in all of their U.S. operations, including
    %ul
      %li the acquisition of a portfolio of television programs and intellectual property rights for a German television production and distribution company
      %li the negotiation of a retail lease for a flagship store of an international fashion and cosmetics company in New York City
      %li the preparation and negotiation of consulting, confidentiality, employment and vendor agreements;the negotiation and interpretation of contractual rights;
      %li employment matters
      %li tax and accounting issues
  %p
    Counsel for a Canadian pension fund in all legal matters for a Class A office building in New York City, including
    %ul
      %li rewriting the building&rsquo;s standard lease form
      %li all leases and related matters
      %li an extension of the building&rsquo;s mortgage
      %li general operating issues
  %p Counsel and advisor for a family trust with beneficiaries in three countries to assist the trustee and the family in restructuring the management, operation and investment policies of the trust to make them more effective and efficient, and to coordinate and facilitate the implementation of the new polices and the basic operation of the trust, including commercial and real estate transactions for the trust and transactions and personal matters for individual family members.