:plain
  ---
  layout: default
  title: Contact
  ---


#main
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      %div
        .wsite-image.wsite-image-border-none{:style => "padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:0;text-align:left"}
          %a
            %img{:alt => "Picture", :src => "uploads/1/5/8/7/15875266/1391408653.jpg", :style => "width:auto;max-width:100%"}/
          %div{:style => "display:block;font-size:90%"}
      .paragraph
        %h1 Contact
        %br
        %p
          Andrew Baraff
          %br
          Attorney at Law P.C.
          %br
          825 Third Avenue, 30th Floor
          %br
          New York, NY&nbsp; 10022
          %br
          %br
          %a{href: "tel:2127554750"} 212-755-4750
          %br
          %a{:href => "mailto:ahbaraff@barafflaw.com?body=Although%20we%20would%20be%20pleased%20to%20speak%20with%20you%20to%20see%20if%20we%20can%20assist%20you, please%20be%20aware%20that%20no%20attorney-client%20relationship%20exists%20because%20you%20viewed%20our%20website%20or%20you%20are%20sending%20us%20this%20email.%20Accordingly,%20you%20should%20not%20include%20or%20disclose%20any%20confidential%20or%20sensitive%20information%20in%20this%20email, because%20such%20information%20will%20not%20be%20protected%20by%20attorney-client%20or%20other%20privilege%20and%20may%20be%20disclosed%20or%20be%20required%20to%20be%20disclosed%20by%20law.", :title => "", target: "_blank"} ahbaraff@barafflaw.com