:plain
  ---
  layout: default
  title: Special Situations
  expand: true
  ---

%section
  %h1 Special Situations
  %p S.P.I. Spirits Ltd. in the development of a &ldquo;Stolichnaya&rdquo; night club in New York City.
  %p Determining the viability of the &ldquo;taking&rdquo; of a professional sports team by its host city.
  %p The financing of a patented process to remove contaminants from a landfill to create clean soil and water.
  %p The development of luxury homes situated around a professional-level golf course designed by a world-famous golf champion.
  %p The creation of a &ldquo;qualified conservation contribution easement&rdquo; in Nassau County, New York, to limit the development of 108 acres of land to eight residential lots, permanently preserving the balance of the property in its open and scenic state.