:plain
  ---
  layout: default
  title: Family Businesses and Trusts
  expand: true
  ---

%section
  %h1 Family Businesses and Trusts
  %p Advising and providing legal and business counsel to family businesses and trusts, mediating disputes and modifying governance, management, operation and investment policies and structures, including conflicts arising in connection with succession planning for, and the transfer of businesses from, one generation to the next.