:plain
  ---
  layout: default
  title: Construction and Design Agreements
  expand: true
  ---
  

#main
  #banner
    .wsite-header
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      %div
        .wsite-image.wsite-image-border-none{:style => "padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:0;text-align:center"}
          %a
            %img{:alt => "Picture", :src => "uploads/1/5/8/7/15875266/1391369338.jpg", :style => "width:auto;max-width:100%"}/
          %div{:style => "display:block;font-size:90%"}
      %h2.wsite-content-title{:style => "text-align:left;"}
        Construction and Design Agreements
        %br/
      .paragraph{:style => "text-align:justify;display:block;"}
        The preparation and negotiation of AIA (and other forms) of construction contracts, architect&rsquo;s agreements, engineer&rsquo;s agreements, project management agreements, equipment acquisition agreements, payment and performance bonds, construction loan agreements and related documentation, including in connection with the development of a co-generation power plant, leases of office space, renovations of office space, the renovation of a hotel, the development of luxury residences.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}