:plain
  ---
  layout: default
  title: Litigation
  expand: true
  ---

%section
  %h1 Litigation
  %p
    The supervision and management of litigation, including
    %ul
      %li management of over 100 simultaneous foreclosure actions
      %li development of strategy, preparation of briefs and motions and negotiation of settlements
      %li analysis of claims, defenses, strategy and settlements
      %li coordination of staff and outside counsel
  %p The defense and settlement of a claim of a breach of a commercial contract.
  %p The defense and settlement of a claim of an event of default under an office lease.