:plain
  ---
  layout: default
  title: Limited Liability
  ---


%section
  %h2 Limited Liability
  %p Andrew Baraff Attorney at Law PC is a professional corporation under the laws of the State of New York. The personal liability of our shareholders is limited to the full extent provided by such laws.
  %p Specifically, under the laws of the State of New York, no shareholder of a professional corporation is personally liable for debts, obligations or liabilities of the firm, except that each shareholder of a professional corporation is personally and fully liable and accountable for any negligent or wrongful act or misconduct committed by him or her or by any person under his or her direct supervision and control while rendering professional services on behalf of the firm to the extent provided in the laws governing professional corporations in the State of New York.
  %p Additional information is available upon request.