:plain
  ---
  layout: default
  title: Joint Ventures
  expand: true
  ---


#main
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      %div
        .wsite-image.wsite-image-border-border-width:0{:style => "padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:10px;text-align:right"}
          %a
            %img{:alt => "Picture", :src => "uploads/1/5/8/7/15875266/1391309713.jpg", :style => "width:auto;max-width:100%"}/
          %div{:style => "display:block;font-size:90%"}
      %h2.wsite-content-title{:style => "text-align:left;"} Joint Ventures
      .paragraph{:style => "text-align:justify;display:block;"}
        A
        prominent investment bank in a joint venture to acquire an interest in several
        office buildings from the restructuring of the portfolio of a renowned New York
        City developer.
        %span>
          %br/
          %span
          %br/
          %span
        An
        Australian investment bank in a joint venture with an international golf
        champion in the development of luxury residences situated on a professional-level
        golf course that he designed.
        %br/
        = succeed "An" do
          %span
            %br/
            %span
        Australian investment bank in a joint venture with an Australian television
        personality for the development, production, distribution, licensing and
        marketing of a U.S. television series.
        %br/
        = succeed "A" do
          %span
            %br/
            %span
        Japanese investment bank in the negotiation of a joint venture for the
        acquisition of a defaulted mortgage loan on a shopping center in order to
        acquire and redevelop the property.
        %br/
        %span
          %br/
          %span