*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  background-color: #7B7B7B;
  margin: 0 auto;
  padding: 0;
  font-family: Calibri;
  color: white;
  background: #1e1e1e; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

#wrapper {
  width: 98em;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding: 0 2em; }

#container {
  overflow: auto;
  width: 100%; }

article#content {
  margin: 0 0 5em 26em; }

nav {
  float: left;
  padding-right: 40px;
  width: 26em; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  nav > ul > li:last-child a, nav > ul > span:last-child li a {
    border-bottom: 1px solid #2a2a2a; }
  nav > ul li {
    list-style: none; }
    nav > ul li ul {
      padding-left: 40px;
      max-height: 0;
      overflow: hidden; }
      nav > ul li ul li {
        background-color: #1B1A1A; }
    nav > ul li#active, nav > ul li > label:hover, nav > ul li > a:hover {
      color: #ffffff;
      background: #141414; }
    nav > ul li a, nav > ul li label {
      font-weight: 300;
      line-height: 1;
      text-decoration: none;
      color: #898989;
      font-family: Calibri;
      font-size: 1.4em;
      display: block;
      padding: 11px 5px 11px 22px;
      border-top: 1px solid #2a2a2a; }

input:checked + ul {
  max-height: 500px; }

header {
  margin-bottom: 20px; }

header img {
  width: 100%; }

#diploma {
  color: #7b7b7b;
  margin-top: 100px;
  font-size: 14px;
  display: block;
  font-weight: 300;
  float: left;
  padding: 11px 5px 11px 22px;
  line-height: auto;
  height: 500px;
  width: 220px; }

footer {
  color: #7b7b7b;
  font-size: 1.2em;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #2d2d2d;
  text-align: right;
  margin: auto 0;
  padding-right: 5em;
  line-height: 3em; }

footer a {
  text-decoration: none;
  color: #898989;
  padding: 0 5px; }

footer a:hover {
  color: #d2d2d2; }

/* General Styling and Structure
--------------------------------------------------------------------------------*/
section, blockquote {
  margin-bottom: 33px; }

h1 {
  font-weight: normal;
  font-size: 3em;
  font-weight: 100; }

h2 {
  font-size: 2.4em;
  margin: 0;
  padding: .3em 0;
  line-height: 1.2;
  font-family: Calibri;
  font-weight: 300;
  color: #ffffff; }

h3, .strong {
  font-size: 1.8em;
  margin: 0 0 10px 0;
  font-weight: normal; }

p, section ul, blockquote ul {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.5em;
  line-height: 1.46667 em;
  color: white; }

section ul, blockquote ul {
  list-style: none;
  font-size: 1.3em; }
  section ul li, blockquote ul li {
    margin: 10px 0; }

.strong {
  font-size: 1.65em; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: #999999; }

blockquote {
  border-bottom: 3px solid #2a2a2a;
  margin: 0;
  margin-bottom: 30px; }
