:plain
  ---
  layout: default
  title: Leases
  expand: true
  ---


#main
  #banner
    .wsite-header
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      %div
        .wsite-image.wsite-image-border-none{:style => "padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:10px;text-align:left"}
          %a
            %img{:alt => "Picture", :src => "uploads/1/5/8/7/15875266/1391373213.jpg", :style => "width:auto;max-width:100%"}/
          %div{:style => "display:block;font-size:90%"}
      %h2.wsite-content-title{:style => "text-align:left;"}
        Leases
        %br/
      .paragraph{:style => "text-align:justify;display:block;"}
        A Canadian pension fund in all leasing matters for a Class A office building in New York City.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        An international law firm in a lease of 68,000 square feet of expansion space.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        An educational foundation in a lease of 50,000 square feet of office and retail space.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        An investment fund in connection with the analysis and resolution of issues under its office lease.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        An international cosmetics and fashion company in the lease of its first retail store in the U.S.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        An investment fund in the 25,000 square-foot lease of the top two floors and terrace of a new office building for its New York City headquarters.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        Brokerage and management agreements, guaranties, surrender agreements, work letters and related documents.
        %br/
        %span{:style => ""}
        \&nbsp;
        %br/
        %span
        %br/
        %span
        %br/