:plain
  ---
  layout: default
  title: Acquisitions and Sales
  expand: true
  ---


%section
  %h2 Acquisitions and Sales
  %p An investment consortium in its bid to purchase Peter Cooper Village and Stuyvesant Town, one of the&nbsp;largest residential housing complexes in New York City.
  %p A prominent investment bank in the acquisition of 245 Fifth Avenue and 417 Fifth Avenue, New York, in partnership with a major New York City developer.
  %p A well-known international real estate fund in the sale of 660 Madison Avenue, New York.
  %p The money partner in a joint venture with one of the largest New York City developers to acquire properties in New York City. &nbsp;
  %p An investment firm in the $93,000,000 sale of a hotel in Washington, DC.
  %p A REIT in its purchase and financing of a $350,000,000 portfolio of 23 office and retail properties throughout the United States.
  %p A charitable foundation in its sales of commercial properties in New York City.
  %p Working with AY Strauss, a private investor in the $25,000,000 purchase of a hotel in Boston.