:plain
  ---
  layout: default
  title: Acquisitions and Sales
  expand: true
  ---


#main
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      %div
        .wsite-image.wsite-image-border-border-width:0{:style => "padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:10px;text-align:right"}
          %a
            %img{:alt => "Picture", :src => "uploads/1/5/8/7/15875266/1391374008.jpg", :style => "width:auto;max-width:100%"}/
          %div{:style => "display:block;font-size:90%"}
      %h1.wsite-content-title{:style => "text-align:left;"} Acquisitions and Sales
      .paragraph{:style => "text-align:justify;"}
        An
        investment consortium in its bid to purchase Peter Cooper Village and
        Stuyvesant Town, one of the&nbsp;largest residential housing complexes in New
        York City.
        %br/
        = succeed "A" do
          %span
            %br/
            %span
        prominent investment bank in the acquisition of 245 Fifth Avenue and 417 Fifth
        Avenue, New York, in partnership with a major New York City developer.
        %br/
        = succeed "A" do
          %span
            %br/
            %span
        well-known international real estate fund in the sale of 660 Madison Avenue,
        New York.
        %br/
        %span
        %br/
        = succeed "The" do
          %span
        money partner in a joint venture with one of the largest New York City
        developers to acquire properties in New York City. &nbsp;
        
        \&nbsp;An
        investment firm in the $93,000,000 sale of a hotel in Washington, DC.
        %br/
        = succeed "A" do
          %span
            %br/
            %span
        REIT in its purchase and financing of a $350,000,000 portfolio of 23 office and
        retail properties throughout the United States.
        %br/
        %span
        %br/
        %span
        A
        charitable foundation in its sales of commercial properties in New York City.
        %br/
        %span
        %br/
        %span
        Working
        with AY Strauss, a private investor in the $25,000,000 purchase of a hotel
        in&nbsp;Boston.
        %br/
        %span
        %br/
        %span
        /[if gte mso 9]