:plain
  ---
  layout: default
  title: Representative Matters
  expand: true
  ---


%section
  %h1 Representative Matters
  %p A description of various matters which over the course of Andrew's career have shaped his practical approach to both the analysis of issues and the development of results-oriented solutions for his clients appear on the linked pages.