:plain
  ---
  layout: default
  title: Recommendations
  ---


%section
  %h1 Recommendations
  %blockquote
    %p As the Senior Partner of the Real Estate Department at Covington &amp; Burling, I worked with Andrew frequently for nearly eight years.&nbsp; I found him to be smart, resourceful and a valuable asset to our clients and&nbsp;the firm.&nbsp; Following matters for clients that I introduced him to, the clients would then call Andrew directly to handle their new transactions. &nbsp;He was an excellent teacher to his less-experienced colleagues, and, just as he would come to me to brainstorm difficult issues, I would often seek him out to discuss complex matters - and I still do.
    %h3 Robert Gage, Partner, Covington &amp; Burling

  %blockquote
    %p I am the General Manager of a Class A building in New York City, and Andrew handled all of our legal work for the building.&nbsp; Both the owner of the building and I were very pleased and impressed with his representation of us.&nbsp; In his leasing work, he protected our interests aggressively, but we never lost a deal over legal issues.&nbsp; He provided excellent advice for operational matters, such as financing and disputes with tenants.&nbsp; And he is very responsive and easy to work with.&nbsp; I enjoy working with Andrew and feel very comfortable recommending him as counsel.
    %h3 Michael Aisner, RXR Realty
  %blockquote
    %p Andrew represented the borrower and I represented the lender in a complicated mortgage loan assumption transaction.&nbsp; I was impressed not only with his expertise, but also with his ability to find practical solutions to difficult problems.&nbsp; In addition, I admired his vigorous representation of his client while simultaneously being respectful of my client&rsquo;s needs.&nbsp; No matter how difficult the deal became, it was a pleasure to work with him.&nbsp; We have since become good friends.&nbsp; I recommend him without reservation.
    %h3 Cori Young, Shareholder, Polsinelli Shughart PC

  %blockquote
    %p I&rsquo;ve known Andy for more than 20 years - since I was a partner and he was an associate at Wachtell, Lipton, Rosen &amp; Katz.&nbsp; When I became General Counsel of the Phoenix House Foundation, I retained Andy to represent us in a number of real estate transactions.&nbsp; He was smart, practical and efficient.&nbsp; I look forward to working with him again.
    %h3 Fredric Goldstein, VP, General Counsel and Secretary, Los Angeles County Museum of Art
 
  %blockquote
    %p We were under contract to purchase a hotel, but the transaction had been stalled for several months. &nbsp;We brought in Andrew&nbsp;and he immediately took control.&nbsp; He organized the process and made sure that everyone knew what they had to do &ndash; and that they gave the transaction high priority.&nbsp; He identified possible issues and resolved them before they became a problem. From the moment Andrew joined the team, the deal moved quickly and smoothly to closing.
    %p Next, we retained Andrew to advise us on what turned out to be a novel question under Colorado law.&nbsp; We were very impressed by Andrew&rsquo;s analysis of the law and the documents and his realistic grasp of our options.&nbsp; He converted what started out as a disadvantageous position into a financially successful outcome.&nbsp; Andrew has become one of our most trusted advisors, and he assists us on nearly everything, real estate or otherwise.
    %h3 Hadar Victorian LLC

  %blockquote
    %p I first worked with Andrew in 2001 when I was the General Counsel of TV Loonland, A.G. and we were acquiring our first media assets in the United States. &nbsp;He is one of the most thoughtful and practical attorneys I know.&nbsp; He resolved many difficult issues for us as we structured the transaction.&nbsp; Afterward, I retained him for the U.S. aspects of a number of financings, where he often improved our U.K.-based credit documents, as well. &nbsp;And of course, he handled our leases in New York.&nbsp; To this day, I continue to consult with him on questions that arise in my own law practice, and I continue to be impressed with his ability to cut straight to the underlying issue and provide helpful and cogent advice.
    %h3 Neil Rigby, Licensed Solicitor, London