:plain
  ---
  layout: default
  title: Restructurings
  expand: true
  ---


#main
  #banner
    .wsite-header
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      %div
        .wsite-image.wsite-image-border-border-width:0{:style => "padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:0;text-align:right"}
          %a
            %img{:alt => "Picture", :src => "uploads/1/5/8/7/15875266/1391413049.jpg", :style => "width:auto;max-width:100%"}/
          %div{:style => "display:block;font-size:90%"}
      %h2.wsite-content-title{:style => "text-align:left;"}
        Restructurings
        %br/
      .paragraph{:style => "text-align:justify;display:block;"}
        A Canadian investment fund in the
        restructuring of its $164,000,000 4th mezzanine loan position in a financing
        for a national hospitality chain.&nbsp;
        %br/
        = succeed "he&amp;nbsp;developer&amp;nbsp;of" do
          %span
            %br/
            %span T
        co-generation&nbsp;power projects (in bankruptcy) in the restructuring of the
        public and private debt and the contractual obligations of a non-bankrupt
        subsidiary.
        %br/
        = succeed "An&amp;nbsp;investment&amp;nbsp;fund&amp;nbsp;specializing&amp;nbsp;in" do
          %span
            %br/
            %span
        distressed assets in&nbsp;structuring, negotiating and drafting a secured loan
        facility to a&nbsp;world-famous restaurant chain in&nbsp;bankruptcy, which
        successfully withstood all legal challenges in the&nbsp;restaurant's second
        bankruptcy. &nbsp;
        %br/
        %br/
        %br/
        %br/