<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link href='{{ site.baseurl }}assets/css/style.css' rel='stylesheet'>
    <link href='{{ site.baseurl }}assets/css/main.css' rel='stylesheet'>
    <meta content='Andrew Baraff, Attorney at Law, serves small, middle-market and growing businesses and investors in the fields of real estate, commercial transactions, general corporate matters and special situations.' name='description'>
    <meta content='lawyer, law, real estate' name='keywords'>
    <meta content='text; charset=utf-8' http-equiv='Content-Type'>
    <meta content='BlPLQOHEK4IuqVpJDIBbnBxZHv7VZuCHe32YPVogA5Y' name='google-site-verification'>
    <!--[if lt IE 7]>
      <script src='http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js'></script>
    <![endif]-->
    <!--[if lt IE 8]>
      <script src='http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js'></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src='http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js'></script>
    <![endif]-->
  </head>
  <body>
    <div id='wrapper'>
      <header>
        <img src='{{site.baseurl}}assets/images/logo.svg'>
      </header>
      <div id='container'>
        <nav>
          <ul>
            <li id="{% if {{page.title}} == 'Home' %}active{% endif %}">
              <a href='{{site.baseurl}}'>Home</a>
            </li>
            <li>
              <label for='toggle'>Representative Matters</label>
              <input id='toggle' style='display:none' type='checkbox'>
              <ul>
                <li id="{% if {{page.title}} == 'Acquisitions and Sales' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/acquisitions-and-sales'>Acquisitions and Sales</a>
                </li>
                <li id="{% if {{page.title}} == 'Financings' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/financings'>Financings</a>
                </li>
                <li id="{% if {{page.title}} == 'Joint Ventures' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/joint-ventures'>Joint Ventures</a>
                </li>
                <li id="{% if {{page.title}} == 'Leases' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/leases'>Leases</a>
                </li>
                <li id="{% if {{page.title}} == 'Outside General Counsel' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/outside-general-counsel'>Outside General Counsel</a>
                </li>
                <li id="{% if {{page.title}} == 'Litigation' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/litigation'>Litigation</a>
                </li>
                <li id="{% if {{page.title}} == 'Restructurings' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/restructurings'>Restructurings</a>
                </li>
                <li id="{% if {{page.title}} == 'Construction and Design Agreements' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/construction-and-design-agreements'>Construction and Design Agreements</a>
                </li>
                <li id="{% if {{page.title}} == 'Businesses and Trusts' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/family-businesses-and-trusts'>Family Businesses and Trusts</a>
                </li>
                <li id="{% if {{page.title}} == 'Special Situations' %}active{% endif %}">
                  <a href='{{site.baseurl}}representative-matters/special-situations'>Special Situations</a>
                </li>
              </ul>
            </li>
            <li id="{% if {{page.title}} == 'Recommendations' %}active{% endif %}">
              <a href='{{site.baseurl}}recommendations'>Recommendations</a>
            </li>
            <li id="{% if {{page.title}} == 'Contact' %}active{% endif %}">
              <a href='{{site.baseurl}}contact'>Contact</a>
            </li>
          </ul>
          {% if {{page.title}} == 'Home' %}
          <div id='diploma'>
            Rated “AV® Preeminent™” (highest level of professional ability and ethical standards) by Martindale-Hubbell’s® Peer Review™.
            <br>
            <br>
            Named one of the “New York Area’s Top Rated Lawyers of 2013” by Legal Leaders.
          </div>
          {% endif %}
          <script>
            if ( {{page.expand}} ) {
                document.getElementById('toggle').checked = true
            }
          </script>
          <style>
            nav ul li ul {
               -webkit-transition: max-height 0.4s ease 0.2s;
               -moz-transition: max-height 0.4s ease 0.2s;
                 -o-transition: max-height 0.4s ease 0.2s;
                    transition: max-height 0.4s ease 0.2s;
              }
          </style>
        </nav>
        <article id='content'>
          {{ content }}
        </article>
      </div>
      <footer>
        <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-38454529-1']);
          _gaq.push(['_setDomainName', 'barafflaw.com']);
          _gaq.push(['_setAllowLinker', true]);
          _gaq.push(['_trackPageview']);
          
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <span style='float:left'>© 2014 Andrew Baraff, Attorney at Law P.C.  All Rights Reserved.</span>
        <a href='{{site.baseurl}}disclaimer'>Disclaimer</a>
        |
        <a href='{{site.baseurl}}attorney-advertising'>Attorney Advertising</a>
        |
        <a href='{{site.baseurl}}limited-liability'>Limited Liability</a>
        |
        <a href='{{site.baseurl}}website'>Website</a>
      </footer>
    </div>
  </body>
</html>
