:plain
  ---
  layout: default
  title: Website
  ---

%section
  %h2 Website
  %p
    This website was created and is maintained by Waksbaum Digital Designs. &nbsp;&copy;2014 Waksbaum Digital Designs. &nbsp;
    %br
    All Rights Reserved.
  %p Photographs are courtesy of TripleThreat Imagination. &nbsp;&copy;2014 TripleThreat Imagination. &nbsp;All Rights Reserved.
  %p Creative oversight by Paranormal Graphic Arts. &nbsp;&copy;2014 Paranormal Graphic Arts. &nbsp; All Rights&nbsp;Reserved.