:plain
  ---
  layout: default
  title: Website
  ---

#main
  #banner
    .wsite-header
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      %h2.wsite-content-title{:style => "text-align:left;"} Website
      .paragraph{:style => "text-align:left;display:block;"}
        This website was created and is maintained by Waksbaum Digital Designs. &nbsp;&copy;&nbsp;2014 Waksbaum Digital Designs.&nbsp; All Rights&nbsp;Reserved.
        %br/
        %span
        %br/
        %span{:style => "font-size: 1em; line-height: 1.5;"} Photographs
        = succeed "&amp;copy;&amp;nbsp;" do
          %span{:style => "font-size: 1em; line-height: 1.5;"} are courtesy of TripleThreat Imagination. &nbsp;
        %span{:style => "font-size: 1em; line-height: 1.5;"} 2014 TripleThreat Imagination.&nbsp; All Rights Reserved.
        %span{:style => "font-size: 1em; line-height: 1.5;"}
        %br/
        %span
        %br/
        = succeed "&amp;copy;&amp;nbsp;2014" do
          %span Creative oversight by Paranormal Graphic Arts.&nbsp;
        Paranormal Graphic Arts.&nbsp; All Rights&nbsp;Reserved.