:plain
  ---
  layout: default
  title: Website
  ---

#main
  #content
    #wsite-content.wsite-elements.wsite-not-footer
      .paragraph
        %h2 Website
        %br
        %p This website was created and is maintained by Waksbaum Digital Designs. &copy;2014 Waksbaum Digital Designs. All Rights Reserved.
        %br

        %p Photographs are courtesy of TripleThreat Imagination. &copy;2014 TripleThreat Imagination. All Rights Reserved.
        %br

        %p Creative oversight by Paranormal Graphic Arts. &copy;2014 Paranormal Graphic Arts. All Rights&nbsp;Reserved.